src/jadefiles/technology/sans.jade
section.techsection(data-id='5')
  .row
    .small-12.columns
      h2.text-center Submerged Acoustic Navigation System (SANS)
      .media-object
        .media-object-section.small-12.medium-12.large-8.columns
          h3 SANS Generation 3 Beacon
          p
            | The SANS Generation 3 Beacon is the third generation of the SANS Beacon designed and built by MIKEL. The SANS Beacon is an undersea, bottom-mounted acoustic device used by the SANS system to provide undersea ground truth to submerged vehicles. Beacon electronics and battery power supply is enclosed in a 17” glass sphere and protective hard-hat with acoustic transducer and acoustic release mounted on hard-hat. The beacon is positively buoyant and is anchored to sea-bottom using commercial anchor. The beacon can be acoustically commanded to turn on, change ping rate, increase/decrease its source level or activate release for recovery. Once activated the beacon emits a periodic coded acoustic ranging signal used by SANS. 
        .media-object-section.small-12.medium-12.large-4.columns.helper
            img(src='{{root}}/assets/img/sans-graphic.jpg' style='width:300px; height: auto;' alt="SANS In Use") 

      .small-12.medium-12.large-8.columns
        .media-object
          .media-object-section.small-12.medium-6.large-6.columns.helper
            img(src='{{root}}/assets/img/sans-beacon.jpg' style='height:300px; padding: 10px;' alt="SANS Beacon")
          .media-object-section.small-12.medium-6.large-6.columns
            h3 Nominal Specs
            ul
              li Installation Duration 2 years
              li Downlink Frequency 9090 Hz
              li Uplink Frequency 12,931 Hz
              li Ping Duration 41ms
              li Ping Rate 30 seconds per ping
              li Output SPL 186 dB re 1µPa @ 1m
              li Operational Time 800 hours
              li Depth 6000 meters
              li Reserve Buoyancy 23 lbs.        
      .small-12.medium-12.large-4.columns
        .media-object
          .media-object-section
            h3 Applications
            ul
              li Self-track system for submerged vehicle
              li Portable Undersea Tracking Range for shallow and deep water depths
              li Assured access through barriers with precise navigation update
              li Undersea navigation waypoint updates
              li Navigation updates in a GPS denied environment
  .row.quotes
    .small-12.columns
      blockquote.more SANS/IMTS is a valuable tool to assess & validate performance while conducting Mine Countermeasure operations. The near real time debrief tool provides immediate in-situ feedback to allow my team to improve performance.”
        cite March 2014 USS Pasadena “SANS APB Demo”, Paul J paraphrased the SSN CO
    .small-12.columns
      blockquote.more We received feedback from a number of crew members, both low and high ranking. All of the PCO instructors, the COB, sonar senior chief, and a couple of the potential candidate officers all had very positive remarks. One of the high points of the system that they thought it was invaluable to be able to look at the image of a mine and determine why an HFA operator might have missed it (e. g., is the crew able to detect sphere shapes better than cylinders, is the mine buried, etc.). The Senior Chief said he would love to have it integrated into his system to train his crew. I’m really not exaggerating here, I got the impression that the crew was legitimately excited (one of the potential candidate officers gave me a fist bump).
        cite August 2015 USS Buffalo SANS support of SCC PCO OP, Joe B provided the following comments:

src/partials/technology/sans.html

<section data-id="5" class="techsection">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="text-center">Submerged Acoustic Navigation System (SANS)</h2>
      <div class="media-object">
        <div class="media-object-section small-12 medium-12 large-8 columns">
          <h3>SANS Generation 3 Beacon</h3>
          <p>The SANS Generation 3 Beacon is the third generation of the SANS Beacon designed and built by MIKEL. The SANS Beacon is an undersea, bottom-mounted acoustic device used by the SANS system to provide undersea ground truth to submerged vehicles. Beacon electronics and battery power supply is enclosed in a 17” glass sphere and protective hard-hat with acoustic transducer and acoustic release mounted on hard-hat. The beacon is positively buoyant and is anchored to sea-bottom using commercial anchor. The beacon can be acoustically commanded to turn on, change ping rate, increase/decrease its source level or activate release for recovery. Once activated the beacon emits a periodic coded acoustic ranging signal used by SANS. </p>
        </div>
        <div class="media-object-section small-12 medium-12 large-4 columns helper"><img src="{{root}}/assets/img/sans-graphic.jpg" style="width:300px; height: auto;" alt="SANS In Use"/></div>
      </div>
      <div class="small-12 medium-12 large-8 columns">
        <div class="media-object">
          <div class="media-object-section small-12 medium-6 large-6 columns helper"><img src="{{root}}/assets/img/sans-beacon.jpg" style="height:300px; padding: 10px;" alt="SANS Beacon"/></div>
          <div class="media-object-section small-12 medium-6 large-6 columns">
            <h3>Nominal Specs</h3>
            <ul>
              <li>Installation Duration 2 years</li>
              <li>Downlink Frequency 9090 Hz</li>
              <li>Uplink Frequency 12,931 Hz</li>
              <li>Ping Duration 41ms</li>
              <li>Ping Rate 30 seconds per ping</li>
              <li>Output SPL 186 dB re 1µPa @ 1m</li>
              <li>Operational Time 800 hours</li>
              <li>Depth 6000 meters</li>
              <li>Reserve Buoyancy 23 lbs.        </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="small-12 medium-12 large-4 columns">
        <div class="media-object">
          <div class="media-object-section">
            <h3>Applications</h3>
            <ul>
              <li>Self-track system for submerged vehicle</li>
              <li>Portable Undersea Tracking Range for shallow and deep water depths</li>
              <li>Assured access through barriers with precise navigation update</li>
              <li>Undersea navigation waypoint updates</li>
              <li>Navigation updates in a GPS denied environment</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row quotes">
    <div class="small-12 columns">
      <blockquote class="more">SANS/IMTS is a valuable tool to assess & validate performance while conducting Mine Countermeasure operations. The near real time debrief tool provides immediate in-situ feedback to allow my team to improve performance.”
        <cite>March 2014 USS Pasadena “SANS APB Demo”, Paul J paraphrased the SSN CO</cite>
      </blockquote>
    </div>
    <div class="small-12 columns">
      <blockquote class="more">We received feedback from a number of crew members, both low and high ranking. All of the PCO instructors, the COB, sonar senior chief, and a couple of the potential candidate officers all had very positive remarks. One of the high points of the system that they thought it was invaluable to be able to look at the image of a mine and determine why an HFA operator might have missed it (e. g., is the crew able to detect sphere shapes better than cylinders, is the mine buried, etc.). The Senior Chief said he would love to have it integrated into his system to train his crew. I’m really not exaggerating here, I got the impression that the crew was legitimately excited (one of the potential candidate officers gave me a fist bump).
        <cite>August 2015 USS Buffalo SANS support of SCC PCO OP, Joe B provided the following comments:</cite>
      </blockquote>
    </div>
  </div>
</section>
