src/partials/technology/smart.html

<section data-id="6" class="techsection">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="text-center">Tactical Standardized Metrics Assessment of Readiness and Training</h2>
      <div class="media-object">
        <div class="media-object-section">
          <h3>Every problem...</h3>
          <p>The U.S. Navy has heavily invested in the development and use of shore based and operational based simulators like Submarine Multi Mission Team Trainer (SMMTT) and On Board Team Trainer (OBTT). These simulators are essential to build and sustain the war fighting proficiency level of OODs and their supporting watch standers operating the tactical systems. The power of using simulators for training and ultimately operator and system performance evaluation is that “truth is known.” Including a performance measurement capability utilizing “truth” will enable the quantitative assessment of system performance as well as operator proficiency and forcewide war fighting readiness</p>
        </div>
      </div>
      <div class="media-object">
        <div class="media-object-section small-12 medium-12 large-6 columns helper"><img src="{{root}}/assets/img/smart.png" style="height:250px; padding: 10px;" alt="SMART Reporting System Image"/></div>
        <div class="media-object-section small-12 medium-12 large-6 columns">
          <h3>Has a solution...</h3>
          <p>SMART does this by automatically recording data and events that yield insight into operator actions and system function. Thus, compliance with procedures as well as assessment of system performance can be evaluated. While observation and feedback from experts on operator, team and system performance are frequently used methods for evaluation, feedback and improvement, these processes are more reliable and effective when executed with measured quantitative data assisted by the observed data. By making quantitative data available, evaluators and trainers are better able to assess performance, identify deficiencies and define remedial actions in the case of operator performance. Use of SMART allows for a standardized approach to operator, crew and system performance evaluation, both in the attack center trainers during training evolutions and shipboard during underway evolutions. Finally, integrating T-SMART into AN/BYG-1 in support of SWFTS will provide the automatic test tools so urgently needed for the test and evaluation of AN/BYG-1 systems under development.</p>
        </div>
      </div>
      <div class="media-object">
        <div class="media-object-section small-12 medium-12 large-6 columns">
          <h3>Fire Control Solution Accuracy (FCSA)</h3>
          <p>T-SMART has been fully integrated as a module within AN/BYG-1 Tactical Control System (TCS) T-SMART functionality added to Multi-Purpose Interactive Trainer (MIT) Stand-Alone T-SMART delivered to SLC Norfolk and Groton</p>
        </div>
        <div class="media-object-section small-12 medium-12 large-6 columns helper"><img src="{{root}}/assets/img/smart2.png" style="height:300px; padding: 10px;" alt="Image depicting Fire Control Solution"/></div>
      </div>
    </div>
  </div>
</section>

src/jadefiles/technology/smart.jade
section.techsection(data-id='6')
  .row
    .small-12.columns
      h2.text-center Tactical Standardized Metrics Assessment of Readiness and Training
      .media-object
        .media-object-section
          h3 Every problem...
          p
            | The U.S. Navy has heavily invested in the development and use of shore based and operational based simulators like Submarine Multi Mission Team Trainer (SMMTT) and On Board Team Trainer (OBTT). These simulators are essential to build and sustain the war fighting proficiency level of OODs and their supporting watch standers operating the tactical systems. The power of using simulators for training and ultimately operator and system performance evaluation is that “truth is known.” Including a performance measurement capability utilizing “truth” will enable the quantitative assessment of system performance as well as operator proficiency and forcewide war fighting readiness

      .media-object
        .media-object-section.small-12.medium-12.large-6.columns.helper
          img(src='{{root}}/assets/img/smart.png' style='height:250px; padding: 10px;' alt="SMART Reporting System Image")      
        .media-object-section.small-12.medium-12.large-6.columns
          h3 Has a solution...
          p
            | SMART does this by automatically recording data and events that yield insight into operator actions and system function. Thus, compliance with procedures as well as assessment of system performance can be evaluated. While observation and feedback from experts on operator, team and system performance are frequently used methods for evaluation, feedback and improvement, these processes are more reliable and effective when executed with measured quantitative data assisted by the observed data. By making quantitative data available, evaluators and trainers are better able to assess performance, identify deficiencies and define remedial actions in the case of operator performance. Use of SMART allows for a standardized approach to operator, crew and system performance evaluation, both in the attack center trainers during training evolutions and shipboard during underway evolutions. Finally, integrating T-SMART into AN/BYG-1 in support of SWFTS will provide the automatic test tools so urgently needed for the test and evaluation of AN/BYG-1 systems under development.
        
      .media-object
        .media-object-section.small-12.medium-12.large-6.columns
          h3 Fire Control Solution Accuracy (FCSA)
          p
            | T-SMART has been fully integrated as a module within AN/BYG-1 Tactical Control System (TCS) T-SMART functionality added to Multi-Purpose Interactive Trainer (MIT) Stand-Alone T-SMART delivered to SLC Norfolk and Groton
        .media-object-section.small-12.medium-12.large-6.columns.helper
          img(src='{{root}}/assets/img/smart2.png' style='height:300px; padding: 10px;' alt="Image depicting Fire Control Solution")
