src/partials/postings/cotsgeneral.html

<div class="row navbarfix">
  <div class="small-12 columns">
    <h1 class="text-center">Job Opening</h1>
    <hr/>
    <h3>COTS General Integrator Positon</h3>
    <h4>LOCATION: FAIRLAKES, VA</h4><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <p>The position provides an opportunity to develop and advance the cutting-edge technology that supports our nation’s fundamental defense services.  Employees work closely with the government to develop solutions that allow them to carry out submarine missions.  The selected candidate will work with collaborative teams to deliver end-to-end solutions in mission systems integration, development, and operations support to fleets and the organization.   </p>
    <h5>Key Responsibilities</h5>
    <p>The COTS Integrator will analyze, design, develop and test GDMS systems to ensure the integration of software, hardware, reliability, maintainability, safety and other requirements in the total engineering effort.  Additional responsibilities include armoring systems for Navy certification and accreditation; working with external vendors and customers; configuring lab environments and specifications.  This individual is also responsible for requirements definitions, software/hardware critical item tests, etc, in addition to configuring and troubleshooting system hardware and software. </p>
    <h5>Desired Skill Sets</h5>
    <ul>
      <li>Red Hat Linux Administration with a working knowledge of systemd </li>
      <li>Intermediate Windows Administration experience</li>
      <li>COTS Integration (Hardware, Network, Software and Virtualization)</li>
      <li>Advanced experience and knowledge with/of scripting languages such as bash, python</li>
      <li>Good organizational and communication skills</li>
      <li>Ability to troubleshoot and repair hardware problems</li>
    </ul>
    <h5>These skills are a PLUS</h5>
    <ul>
      <li>Ability to read C++/Java code</li>
      <li>Certification in Red Hat Enterprise Linux</li>
      <li>Experience with Information Assurance (C&A Process, IAVA Management, etc)</li>
      <li>Experience with Cloud Computing/Virtualization techniques</li>
    </ul>
    <p>The COTS Integrator position requires a bachelor’s degree in electrical engineering, computer science, systems engineering or the equivalent and at least two to five years of related work experience.</p>
    <p>Department of Defense Secret security clearance is required at time of hire. Applicants selected will be subject to a U.S. Government security investigation and must meet eligibility requirements for access to classified information. Due to the nature of work performed within our facilities, U.S. citizenship is required.</p>
  </div>
  <div class="small-12 columns"><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <hr/>
  </div>
  <div class="small-12 columns"><a href="careers.html#openings" class="button">< Return to Current Openings</a></div>
</div>

src/jadefiles/postings/cotsgeneral.jade
.row.navbarfix
  .small-12.columns
    h1.text-center Job Opening
    
    hr
    
    h3 COTS General Integrator Positon
    
    h4 LOCATION: FAIRLAKES, VA
    
    //- a.button(href="apply.html") Apply
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    p The position provides an opportunity to develop and advance the cutting-edge technology that supports our nation’s fundamental defense services.  Employees work closely with the government to develop solutions that allow them to carry out submarine missions.  The selected candidate will work with collaborative teams to deliver end-to-end solutions in mission systems integration, development, and operations support to fleets and the organization.   
    h5 Key Responsibilities
    p The COTS Integrator will analyze, design, develop and test GDMS systems to ensure the integration of software, hardware, reliability, maintainability, safety and other requirements in the total engineering effort.  Additional responsibilities include armoring systems for Navy certification and accreditation; working with external vendors and customers; configuring lab environments and specifications.  This individual is also responsible for requirements definitions, software/hardware critical item tests, etc, in addition to configuring and troubleshooting system hardware and software. 
    
    h5 Desired Skill Sets
    ul
      li Red Hat Linux Administration with a working knowledge of systemd 
      li Intermediate Windows Administration experience
      li COTS Integration (Hardware, Network, Software and Virtualization)
      li Advanced experience and knowledge with/of scripting languages such as bash, python
      li Good organizational and communication skills
      li Ability to troubleshoot and repair hardware problems
      
    h5 These skills are a PLUS
    ul
      li Ability to read C++/Java code
      li Certification in Red Hat Enterprise Linux
      li Experience with Information Assurance (C&A Process, IAVA Management, etc)
      li Experience with Cloud Computing/Virtualization techniques
    
    p The COTS Integrator position requires a bachelor’s degree in electrical engineering, computer science, systems engineering or the equivalent and at least two to five years of related work experience.
    
    p Department of Defense Secret security clearance is required at time of hire. Applicants selected will be subject to a U.S. Government security investigation and must meet eligibility requirements for access to classified information. Due to the nature of work performed within our facilities, U.S. citizenship is required.
    
  .small-12.columns
    //- a.button.float-right(href="apply.html") Apply
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    hr
    
  .small-12.columns
    a.button(href='careers.html#openings') < Return to Current Openings
