src/pages/electech.html

<div class="row navbarfix">
  <div class="small-12 columns">
    <h1 class="text-center">Job Opening</h1>
    <hr/>
    <h3>Electronics Technician</h3>
    <h4>LOCATION: NEWPORT, RI</h4><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <h4 class="strong">Electronics Technician Level I</h4>
    <hr/>
    <h5>Typical Education</h5>
    <ul>
      <li>High school/vocational school diploma or GED certificate.</li>
    </ul>
    <h5>Typical Experience:</h5>
    <p>Performs simple routine tasks under close supervision or from detailed procedures. Work is checked in progress or on completion. Performs one or a combination of such typical duties as:</p>
    <ul> 
      <li>Assembles or installs equipment or parts requiring simple wiring, soldering, or connecting.</li>
      <li>Performs simple routine tasks or tests such as tensile or hardness tests; operates and adjusts simple test equipment; record test data.</li>
      <li>Gathers and maintains specified records of engineering data such as tests, drawings, etc.; performs computations by substituting numbers in specified formulas; plots data and draws simple curves and graphs.</li>
    </ul>
    <h4 class="strong">Electronics Technician Level II</h4>
    <hr/>
    <h5>Typical Education</h5>
    <ul>
      <li>High school/vocational school diploma or GED certificate.</li>
    </ul>
    <h5>Typical Experience:</h5>
    <p>1 year work related experience in electrical/electronic systems. Performs standardized or prescribed assignments, involving a sequence of related operations. Follows standard work methods on recurring assignments but receives explicit instructions on unfamiliar assignments; technical adequacy of routine work is reviewed on completion; non routine work may also be reviewed in progress. Performs at this level one or a combination of such typical duties as:</p>
    <ul> 
      <li>Following specific instructions, assembles or constructs simple or standard equipment or parts; may service or repair simple instruments or equipment</li>
      <li>Conducts a variety of tests using established methods. Prepares test specimens, adjusts and operates equipment, and records test data, pointing out deviations resulting from equipment malfunction or observed errors.</li>
      <li>Extracts engineering data from various prescribed but non standardized sources; processes the data following well-defined methods including elementary algebra and geometry; presents data in prescribed form.</li>
    </ul>
    <h4 class="strong">Electronics Technician Level III</h4>
    <hr/>
    <h5>Typical Education</h5>
    <ul>
      <li>Technical school diploma.</li>
    </ul>
    <h5>Typical Experience:</h5>
    <p>3 year work related experience in electrical/electronic systems. Performs assignments that are not completely standardized or prescribed. Selects or adapts standard procedures or equipment, using fully applicable precedents. Receives initial instruction, equipment retirements, and advice from supervisor or engineer as needed; performs recurring work independently; work is reviewed for technical adequacy or conformity with instruction. Performs at this level one or a combination of such typical duties as:</p>
    <ul> 
      <li>Constructs components, sub-units, or simple models or adapts standard equipment. May troubleshoot and correct malfunctions.</li>
      <li>Follows specific layout and scientific diagrams to construct and package simple devices and sub-units or equipment.</li>
      <li>Conducts various test or experiments which may require minor modification in test setups or procedures as well as subjective judgments in measurement; selects, sets up, and operates standard test equipment and records test data.</li>
      <li>Extracts and compiles a variety of engineering data from field notes, manuals, lab reports, etc.; processes data, identifying errors or inconsistencies; selects methods of data presentation.</li>
      <li>Assists in design modification by compiling data related to design, specifications, and materials which are pertinent to specific items or equipment or component parts. Develops information concerning previous operational failures and modifications. Uses judgment and initiative to recognize inconsistencies or gaps in data and seeks sources to clarify information.</li>
    </ul>
  </div>
  <div class="small-12 columns"><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <hr/>
  </div>
  <div class="small-12 columns"><a href="careers.html#openings" class="button">< Return to Current Openings</a></div>
</div>

src/jadefiles/postings/electech.jade
.row.navbarfix
  .small-12.columns
    h1.text-center Job Opening
    
    hr
    
    h3 Electronics Technician
    
    h4 LOCATION: NEWPORT, RI
    
    //- a.button(href="apply.html") Apply
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    h4.strong Electronics Technician Level I
    hr    
    h5 Typical Education
    ul
      li High school/vocational school diploma or GED certificate.
    h5 Typical Experience:
    p Performs simple routine tasks under close supervision or from detailed procedures. Work is checked in progress or on completion. Performs one or a combination of such typical duties as:
    ul 
      li Assembles or installs equipment or parts requiring simple wiring, soldering, or connecting.
      li Performs simple routine tasks or tests such as tensile or hardness tests; operates and adjusts simple test equipment; record test data.
      li Gathers and maintains specified records of engineering data such as tests, drawings, etc.; performs computations by substituting numbers in specified formulas; plots data and draws simple curves and graphs.
      
    h4.strong Electronics Technician Level II
    hr    
    h5 Typical Education
    ul
      li High school/vocational school diploma or GED certificate.
    h5 Typical Experience:
    p 1 year work related experience in electrical/electronic systems. Performs standardized or prescribed assignments, involving a sequence of related operations. Follows standard work methods on recurring assignments but receives explicit instructions on unfamiliar assignments; technical adequacy of routine work is reviewed on completion; non routine work may also be reviewed in progress. Performs at this level one or a combination of such typical duties as:
    ul 
      li Following specific instructions, assembles or constructs simple or standard equipment or parts; may service or repair simple instruments or equipment
      li Conducts a variety of tests using established methods. Prepares test specimens, adjusts and operates equipment, and records test data, pointing out deviations resulting from equipment malfunction or observed errors.
      li Extracts engineering data from various prescribed but non standardized sources; processes the data following well-defined methods including elementary algebra and geometry; presents data in prescribed form.
        
    h4.strong Electronics Technician Level III
    hr    
    h5 Typical Education
    ul
      li Technical school diploma.
    h5 Typical Experience:
    p 3 year work related experience in electrical/electronic systems. Performs assignments that are not completely standardized or prescribed. Selects or adapts standard procedures or equipment, using fully applicable precedents. Receives initial instruction, equipment retirements, and advice from supervisor or engineer as needed; performs recurring work independently; work is reviewed for technical adequacy or conformity with instruction. Performs at this level one or a combination of such typical duties as:
    ul 
      li Constructs components, sub-units, or simple models or adapts standard equipment. May troubleshoot and correct malfunctions.
      li Follows specific layout and scientific diagrams to construct and package simple devices and sub-units or equipment.
      li Conducts various test or experiments which may require minor modification in test setups or procedures as well as subjective judgments in measurement; selects, sets up, and operates standard test equipment and records test data.
      li Extracts and compiles a variety of engineering data from field notes, manuals, lab reports, etc.; processes data, identifying errors or inconsistencies; selects methods of data presentation.
      li Assists in design modification by compiling data related to design, specifications, and materials which are pertinent to specific items or equipment or component parts. Develops information concerning previous operational failures and modifications. Uses judgment and initiative to recognize inconsistencies or gaps in data and seeks sources to clarify information.
      

  .small-12.columns
    //- a.button.float-right(href="apply.html") Apply
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    hr
    
  .small-12.columns
    a.button(href='careers.html#openings') < Return to Current Openings
