src/jadefiles/postings/engrtech3-4.jade
.row.navbarfix
  .small-12.columns
    h1.text-center Job Opening
    
    hr
    
    h3 Engineering Technician III - IV 
    
    h4 LOCATION: NEWPORT, RI
    
    //- a.button(href="apply.html") Apply
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    p Candidate is expected to perform assignments that are not completely standardized or prescribed. Selects or adapts standard procedures or equipment, using fully applicable precedents. Performs at this level one or a combination of such typical duties as:  
    ul
      li Constructs components, sub-units, or simple models or adapts standard equipment. May troubleshoot and correct malfunctions.
      li Follows specific layout and scientific diagrams to construct and package simple devices and sub-units of equipment.
      li Conducts various tests or experiments which may require minor modifications in test setups or procedures as well as subjective judgments in measurement; selects, sets up, and operates standard test equipment and records test data.
      li Extracts and compiles a variety of engineering data from field notes, manuals, lab reports, etc.; processes data, Identifying errors or inconsistencies; selects methods of data presentation.
      li Assists in design modification by compiling data related to design, specifications, and materials which are pertinent to specific items of equipment or component parts.
      li Develops information concerning previous operational failures and modifications.
      li Uses judgment and initiative to recognize inconsistencies or gaps in data and seeks sources to clarify information. 
      
    p Candidate is expected to perform non routine assignments of substantial variety and complexity, using operational precedents which are not fully applicable. Such assignments, which are typically parts of broader assignments, are screened to eliminate unusual design problems. May also plan such assignments. May be assisted by lower level technicians and have frequent contact with professionals and others within the establishment. Performs at this level one or a combination of such typical duties as:  
    ul
      li Develops or reviews designs by extracting and analyzing a variety of engineering data.
      li Applies conventional engineering practices to develop, prepare, or recommend schematics, designs, specifications, electrical drawings and diagrams; hardware fittings or test equipment.
      li Conducts tests requiring selection and adaptation or modification of a wide variety of critical test equipment and test procedures; sets up and operates equipment; records data, measures and records problems of significant complexity that sometimes require resolution at a higher level; and analyzes data and prepares test reports. 
      li Applies methods outlined by others to limited segments of research and development projects; constructs experimental or prototype models to meet engineering requirements; conducts tests or experiments and redesigns as necessary; and records and evaluates data and reports findings. 
      
    p Candidate is expected to perform non routine and complex assignments involving responsibility for planning and conducting a complete project of relatively limited scope or a portion of a larger and more diverse project. Selects and adapts plans, techniques, designs, or layouts. Contacts personnel in related activities to resolve problems and coordinate the work; reviews, analyzes, and integrates the technical work of others. May train and be assisted by lower level technicians. Performs at this level one of a combination of such typical duties as:   
    ul
      li Designs, develops, and constructs major units, devices, or equipment; conducts tests; analyzes results and redesigns or modifies equipment to improve performance; and reports results.
      li From general guidelines and specifications (e.g., size or weight requirements), develops designs for equipment without critical performance requirements which are difficult to satisfy research instruments or special purpose circuitry.
      li Analyzes technical data to determine applicability to design problems; selects from several possible design layouts; calculates design data; and prepares layouts, detailed specifications, parts lists, estimates, procedures, etc.
      li May check and analyze drawings or equipment to determine adequacy of drawings and design.
      li Plans or assists in planning tests to evaluate equipment performance.
      li Determines test requirements, equipment modification, and test procedures; conducts tests using all types of instruments; analyzes and evaluates tests results, and prepares reports on findings and recommendations. 
    
    h5 Basic Qualifications
    ul
      li Technical School Diploma
      li 3 to 7 years professional experience as a Technician. 
    
    h5 Qualifications
    p Communication skills, both oral and written. Ability to understand  system level operations and interface specifications. The ability to perform troubleshooting necessary resolve system or equipment level problems.  
    
    h5 Desired Skills
    p Knowledge in any of the following areas; understanding of preventative and corrective maintenance techniques, interface data analysis, test and evaluation concepts. Ability to work closely in a team environment and with the customer. 
    
    h5 Preferred Skills
    p Have experience as an operator of Submarine Combat System Equipment such as AN/BYG-1 COMBAT Systems or TOMAHAWK Operations. 
    
    h5 Clearance
    p Secret Or; Applicants selected will be subject to a government security investigation and must meet eligibility requirements for access to classified information.  

  .small-12.columns
    //- a.button.float-right(href="apply.html") Apply
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    hr
    
  .small-12.columns
    a.button(href='careers.html#openings') < Return to Current Openings

src/partials/postings/engrtech3-4.html

<div class="row navbarfix">
  <div class="small-12 columns">
    <h1 class="text-center">Job Opening</h1>
    <hr/>
    <h3>Engineering Technician III - IV </h3>
    <h4>LOCATION: NEWPORT, RI</h4><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <p>Candidate is expected to perform assignments that are not completely standardized or prescribed. Selects or adapts standard procedures or equipment, using fully applicable precedents. Performs at this level one or a combination of such typical duties as:  </p>
    <ul>
      <li>Constructs components, sub-units, or simple models or adapts standard equipment. May troubleshoot and correct malfunctions.</li>
      <li>Follows specific layout and scientific diagrams to construct and package simple devices and sub-units of equipment.</li>
      <li>Conducts various tests or experiments which may require minor modifications in test setups or procedures as well as subjective judgments in measurement; selects, sets up, and operates standard test equipment and records test data.</li>
      <li>Extracts and compiles a variety of engineering data from field notes, manuals, lab reports, etc.; processes data, Identifying errors or inconsistencies; selects methods of data presentation.</li>
      <li>Assists in design modification by compiling data related to design, specifications, and materials which are pertinent to specific items of equipment or component parts.</li>
      <li>Develops information concerning previous operational failures and modifications.</li>
      <li>Uses judgment and initiative to recognize inconsistencies or gaps in data and seeks sources to clarify information. </li>
    </ul>
    <p>Candidate is expected to perform non routine assignments of substantial variety and complexity, using operational precedents which are not fully applicable. Such assignments, which are typically parts of broader assignments, are screened to eliminate unusual design problems. May also plan such assignments. May be assisted by lower level technicians and have frequent contact with professionals and others within the establishment. Performs at this level one or a combination of such typical duties as:  </p>
    <ul>
      <li>Develops or reviews designs by extracting and analyzing a variety of engineering data.</li>
      <li>Applies conventional engineering practices to develop, prepare, or recommend schematics, designs, specifications, electrical drawings and diagrams; hardware fittings or test equipment.</li>
      <li>Conducts tests requiring selection and adaptation or modification of a wide variety of critical test equipment and test procedures; sets up and operates equipment; records data, measures and records problems of significant complexity that sometimes require resolution at a higher level; and analyzes data and prepares test reports. </li>
      <li>Applies methods outlined by others to limited segments of research and development projects; constructs experimental or prototype models to meet engineering requirements; conducts tests or experiments and redesigns as necessary; and records and evaluates data and reports findings. </li>
    </ul>
    <p>Candidate is expected to perform non routine and complex assignments involving responsibility for planning and conducting a complete project of relatively limited scope or a portion of a larger and more diverse project. Selects and adapts plans, techniques, designs, or layouts. Contacts personnel in related activities to resolve problems and coordinate the work; reviews, analyzes, and integrates the technical work of others. May train and be assisted by lower level technicians. Performs at this level one of a combination of such typical duties as:   </p>
    <ul>
      <li>Designs, develops, and constructs major units, devices, or equipment; conducts tests; analyzes results and redesigns or modifies equipment to improve performance; and reports results.</li>
      <li>From general guidelines and specifications (e.g., size or weight requirements), develops designs for equipment without critical performance requirements which are difficult to satisfy research instruments or special purpose circuitry.</li>
      <li>Analyzes technical data to determine applicability to design problems; selects from several possible design layouts; calculates design data; and prepares layouts, detailed specifications, parts lists, estimates, procedures, etc.</li>
      <li>May check and analyze drawings or equipment to determine adequacy of drawings and design.</li>
      <li>Plans or assists in planning tests to evaluate equipment performance.</li>
      <li>Determines test requirements, equipment modification, and test procedures; conducts tests using all types of instruments; analyzes and evaluates tests results, and prepares reports on findings and recommendations. </li>
    </ul>
    <h5>Basic Qualifications</h5>
    <ul>
      <li>Technical School Diploma</li>
      <li>3 to 7 years professional experience as a Technician. </li>
    </ul>
    <h5>Qualifications</h5>
    <p>Communication skills, both oral and written. Ability to understand  system level operations and interface specifications. The ability to perform troubleshooting necessary resolve system or equipment level problems.  </p>
    <h5>Desired Skills</h5>
    <p>Knowledge in any of the following areas; understanding of preventative and corrective maintenance techniques, interface data analysis, test and evaluation concepts. Ability to work closely in a team environment and with the customer. </p>
    <h5>Preferred Skills</h5>
    <p>Have experience as an operator of Submarine Combat System Equipment such as AN/BYG-1 COMBAT Systems or TOMAHAWK Operations. </p>
    <h5>Clearance</h5>
    <p>Secret Or; Applicants selected will be subject to a government security investigation and must meet eligibility requirements for access to classified information.  </p>
  </div>
  <div class="small-12 columns"><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <hr/>
  </div>
  <div class="small-12 columns"><a href="careers.html#openings" class="button">< Return to Current Openings</a></div>
</div>
