src/jadefiles/postings/engrtech6.jade
.row.navbarfix
  .small-12.columns
    h1.text-center Job Opening
    
    hr
    
    h3 Engineering Technician VI
    
    h4 LOCATION: NEWPORT, RI
    
    //- a.button(href="apply.html") Apply
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    p Candidate should have 8 years work related experience in electrical/electronic systems. Independently plans and accomplishes complete projects or studies of broad scope and complexity. Complexity of assignments typically requires considerable creativity and judgment to devise approaches to accomplish work, resolve design and operational problems, and make decisions in situations where standard engineering methods, procedures, and techniques may not be applicable. May supervise or train and be assisted by lower level technicians. Candidate should be able to perform, at this level, one or a combination of such typical duties as: 
    ul
      li Prepares designs and specifications for various complex equipment or systems (e.g., new electronic components such as solid state devices for instrumentation equipment).
      li Plans approach to solve design problems; conceives and recommends new design techniques; resolves design problems with contract personnel, and assures compatibility of design with other parts of the system.
      li Designs and coordinates test set ups and experiments to prove or disprove the feasibility of preliminary design; uses untried and untested measurement techniques; and improves the performance of the equipment.
      li May advise equipment users or redesign to solve unique operational deficiencies. 
    
    h5 Basic Qualifications
    ul
      li Associates level Degree in any Engineering Discipline.
      li 8+ years professional experience as a Technician. 
    
    h5 Qualifications
    p Excellent communication skills, both oral and written. Ability to understand and interpret system level specifications and interface message protocols. The ability to perform research necessary resolve system level problems. The ability to generate engineering documentation.  
    
    h5 Desired Skills
    p Knowledge in any of the following areas; a wide and comprehensive acquaintance with and understanding of preventative and corrective maintenance techniques and their practical application to problems and situations ordinarily encountered, interface data analysis, test and evaluation concepts. Ability to work closely in a team environment and with the customer. 
    
    h5 Preferred Skills
    p Have extensive knowledge of Submarine Combat System Equipment such as AN/BYG-1 COMBAT Systems or TOMAHAWK Operations experience. Familiarity with Tech Insertion (TI) process is helpful. 
    
    h5 Clearance
    p Secret Or; Applicants selected will be subject to a government security investigation and must meet eligibility requirements for access to classified information. 

  .small-12.columns
    //- a.button.float-right(href="apply.html") Apply
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    hr
    
  .small-12.columns
    a.button(href='careers.html#openings') < Return to Current Openings

src/partials/postings/engrtech6.html

<div class="row navbarfix">
  <div class="small-12 columns">
    <h1 class="text-center">Job Opening</h1>
    <hr/>
    <h3>Engineering Technician VI</h3>
    <h4>LOCATION: NEWPORT, RI</h4><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <p>Candidate should have 8 years work related experience in electrical/electronic systems. Independently plans and accomplishes complete projects or studies of broad scope and complexity. Complexity of assignments typically requires considerable creativity and judgment to devise approaches to accomplish work, resolve design and operational problems, and make decisions in situations where standard engineering methods, procedures, and techniques may not be applicable. May supervise or train and be assisted by lower level technicians. Candidate should be able to perform, at this level, one or a combination of such typical duties as: </p>
    <ul>
      <li>Prepares designs and specifications for various complex equipment or systems (e.g., new electronic components such as solid state devices for instrumentation equipment).</li>
      <li>Plans approach to solve design problems; conceives and recommends new design techniques; resolves design problems with contract personnel, and assures compatibility of design with other parts of the system.</li>
      <li>Designs and coordinates test set ups and experiments to prove or disprove the feasibility of preliminary design; uses untried and untested measurement techniques; and improves the performance of the equipment.</li>
      <li>May advise equipment users or redesign to solve unique operational deficiencies. </li>
    </ul>
    <h5>Basic Qualifications</h5>
    <ul>
      <li>Associates level Degree in any Engineering Discipline.</li>
      <li>8+ years professional experience as a Technician. </li>
    </ul>
    <h5>Qualifications</h5>
    <p>Excellent communication skills, both oral and written. Ability to understand and interpret system level specifications and interface message protocols. The ability to perform research necessary resolve system level problems. The ability to generate engineering documentation.  </p>
    <h5>Desired Skills</h5>
    <p>Knowledge in any of the following areas; a wide and comprehensive acquaintance with and understanding of preventative and corrective maintenance techniques and their practical application to problems and situations ordinarily encountered, interface data analysis, test and evaluation concepts. Ability to work closely in a team environment and with the customer. </p>
    <h5>Preferred Skills</h5>
    <p>Have extensive knowledge of Submarine Combat System Equipment such as AN/BYG-1 COMBAT Systems or TOMAHAWK Operations experience. Familiarity with Tech Insertion (TI) process is helpful. </p>
    <h5>Clearance</h5>
    <p>Secret Or; Applicants selected will be subject to a government security investigation and must meet eligibility requirements for access to classified information. </p>
  </div>
  <div class="small-12 columns"><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <hr/>
  </div>
  <div class="small-12 columns"><a href="careers.html#openings" class="button">< Return to Current Openings</a></div>
</div>
