src/partials/postings/ilsDeveloper.html

<div class="row navbarfix">
  <div class="small-12 columns">
    <h1>Mikel</h1>
    <hr/>
    <h3>ILS Developer</h3>
    <h4>LOCATION: FAIRLAKES, VA</h4><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <p>The position provides an opportunity to develop and advance the cutting-edge technology that supports our nation’s fundamental defense services.  Employees work closely with the government to develop solutions that allow them to carry out submarine missions.  The selected candidate will work with collaborative teams to deliver end-to-end solutions in mission systems integration, development, and operations support to fleets and the organization.  </p>
    <h5>Key Responsibilities</h5>
    <p>Seeking a creative and self-motivated, Digital Technical Writer, who is quick thinking, great with clients and co-workers and very dependable, to develop IETM/ETM content data in XML format  and/or training curriculum support using MS Office or equivalent products.</p>
    <p>This Candidate will be responsible for the development and implementation of IETM and/or training curriculum, and technical manuals standards/procedures. Develop graphics and implement design concepts from storyboards. This position requires an individual who is quick thinking, great with clients and co-workers and very dependable. Most of the development work will be performed in a government provided development environment. All prospective candidates must have the clear understanding of technical manual structure and be familiar with DoD IETM and Tech Manual guidelines and processes.</p>
    <p>Candidates. Help authoring tools, and video/audio editing experience is a plus.</p>
    <p>Desired Skill Sets/Experience</p>
    <ul>
      <li>Multitask with minimal oversight</li>
      <li>Interface with engineers and technical professionals in the writing, editing, and publication of various types of documentation</li>
      <li>Extensive knowledge of technical documentation, with an emphasis in ETM and IETM development</li>
      <li>ETM and IETM development using XML content management data base applications is preferred</li>
      <li>Skilled with graphic design tools such as Adobe Photoshop and Illustrator</li>
      <li>must be and have at least a basic understanding of graphic editing software</li>
      <li>Help authoring tools, and video/audio editing experience is a plus</li>
      <li>MilStd24784C and/or S1000D Experience</li>
    </ul>
    <p>The ILS position requires a BS/BA in computer science, graphic design, XML publishing/development or related field is desired. Equivalent experience can be substituted for a degree if the experience is directly related to the authoring of ETMs or IETMs. </p>
    <p>Department of Defense Secret security clearance is required at time of hire. Applicants selected will be subject to a U.S. Government security investigation and must meet eligibility requirements for access to classified information. Due to the nature of work performed within our facilities, U.S. citizenship is required.</p>
  </div>
  <div class="small-12 columns"><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <hr/>
  </div>
  <div class="small-12 columns"><a href="careers.html#openings" class="button">< Return to Current Openings</a></div>
</div>

src/jadefiles/postings/ilsDeveloper.jade
.row.navbarfix
  .small-12.columns
    h1 Mikel
    
    hr
    
    h3 ILS Developer
    
    h4 LOCATION: FAIRLAKES, VA
    
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    p The position provides an opportunity to develop and advance the cutting-edge technology that supports our nation’s fundamental defense services.  Employees work closely with the government to develop solutions that allow them to carry out submarine missions.  The selected candidate will work with collaborative teams to deliver end-to-end solutions in mission systems integration, development, and operations support to fleets and the organization.  
    
    h5 Key Responsibilities
    p Seeking a creative and self-motivated, Digital Technical Writer, who is quick thinking, great with clients and co-workers and very dependable, to develop IETM/ETM content data in XML format  and/or training curriculum support using MS Office or equivalent products.
    p This Candidate will be responsible for the development and implementation of IETM and/or training curriculum, and technical manuals standards/procedures. Develop graphics and implement design concepts from storyboards. This position requires an individual who is quick thinking, great with clients and co-workers and very dependable. Most of the development work will be performed in a government provided development environment. All prospective candidates must have the clear understanding of technical manual structure and be familiar with DoD IETM and Tech Manual guidelines and processes.
    p Candidates. Help authoring tools, and video/audio editing experience is a plus.
    
    p Desired Skill Sets/Experience
    ul
      li Multitask with minimal oversight
      li Interface with engineers and technical professionals in the writing, editing, and publication of various types of documentation
      li Extensive knowledge of technical documentation, with an emphasis in ETM and IETM development
      li ETM and IETM development using XML content management data base applications is preferred
      li Skilled with graphic design tools such as Adobe Photoshop and Illustrator
      li must be and have at least a basic understanding of graphic editing software
      li Help authoring tools, and video/audio editing experience is a plus
      li MilStd24784C and/or S1000D Experience
      
    p The ILS position requires a BS/BA in computer science, graphic design, XML publishing/development or related field is desired. Equivalent experience can be substituted for a degree if the experience is directly related to the authoring of ETMs or IETMs. 
    
    p Department of Defense Secret security clearance is required at time of hire. Applicants selected will be subject to a U.S. Government security investigation and must meet eligibility requirements for access to classified information. Due to the nature of work performed within our facilities, U.S. citizenship is required.
    
  .small-12.columns
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    hr
    
  .small-12.columns
    a.button(href='careers.html#openings') < Return to Current Openings
