src/jadefiles/postings/integrator.jade
.row.navbarfix
  .small-12.columns
    h1 Mikel
    
    hr
    
    h3 Integrator Positon
    
    h4 LOCATION: FAIRLAKES, VA
    
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    p The position provides an opportunity to develop and advance the cutting-edge technology that supports our nation’s fundamental defense services.  Employees work closely with the government to develop solutions that allow them to carry out submarine missions.  The selected candidate will work with collaborative teams to deliver end-to-end solutions in mission systems integration, development, and operations support to fleets and the organization.  
    
    h5 Key Responsibilities
    p The Integrator will analyze, design, develop and test GDAIS systems to ensure the integration of software, hardware, reliability, maintainability, safety and other requirements in the total engineering effort.  Additional responsibilities include armoring systems for Navy certification and accreditation; working with external vendors and customers; configuring lab environments and specifications.  This individual is also responsible for requirements definitions, software critical item tests, etc, in addition to configuring and troubleshooting system hardware and software.
    
    p Desired Skill Sets/Experience
    ul
      li Linux Administration
      li Windows Administration
      li Intermediate to Advanced knowledge of shell scripting
      li COTS Integration (Hardware, Network, Software and Virtualization)
      li Understanding of OS operation in a cross-platform environment (Linux/Windows)
      li Good organizational and communication skills
      li Ability to troubleshoot and repair software problems
      li Experience cabling equipment racks to support system hardware components
      li Ability to move heavy computer equipment    
    
    p These skills are a PLUS
    ul
      li Advanced certification in Red Hat Enterprise Linux 
      li Advanced certification in Windows 
      li Cloud Computing/Virtualization
      li Ability to read C++/Java code
      li Experience with Information Assurance (C&A Process, IAVA Management, etc)
    
    p The COTS Integrator position requires a bachelor’s degree in a specialized area or equivalent experience in related field.
    
    p Department of Defense Secret security clearance is required at time of hire. Applicants selected will be subject to a U.S. Government security investigation and must meet eligibility requirements for access to classified information. Due to the nature of work performed within our facilities, U.S. citizenship is required.
    
  .small-12.columns
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    hr
    
  .small-12.columns
    a.button(href='careers.html#openings') < Return to Current Openings

src/partials/postings/integrator.html

<div class="row navbarfix">
  <div class="small-12 columns">
    <h1>Mikel</h1>
    <hr/>
    <h3>Integrator Positon</h3>
    <h4>LOCATION: FAIRLAKES, VA</h4><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <p>The position provides an opportunity to develop and advance the cutting-edge technology that supports our nation’s fundamental defense services.  Employees work closely with the government to develop solutions that allow them to carry out submarine missions.  The selected candidate will work with collaborative teams to deliver end-to-end solutions in mission systems integration, development, and operations support to fleets and the organization.  </p>
    <h5>Key Responsibilities</h5>
    <p>The Integrator will analyze, design, develop and test GDAIS systems to ensure the integration of software, hardware, reliability, maintainability, safety and other requirements in the total engineering effort.  Additional responsibilities include armoring systems for Navy certification and accreditation; working with external vendors and customers; configuring lab environments and specifications.  This individual is also responsible for requirements definitions, software critical item tests, etc, in addition to configuring and troubleshooting system hardware and software.</p>
    <p>Desired Skill Sets/Experience</p>
    <ul>
      <li>Linux Administration</li>
      <li>Windows Administration</li>
      <li>Intermediate to Advanced knowledge of shell scripting</li>
      <li>COTS Integration (Hardware, Network, Software and Virtualization)</li>
      <li>Understanding of OS operation in a cross-platform environment (Linux/Windows)</li>
      <li>Good organizational and communication skills</li>
      <li>Ability to troubleshoot and repair software problems</li>
      <li>Experience cabling equipment racks to support system hardware components</li>
      <li>Ability to move heavy computer equipment    </li>
    </ul>
    <p>These skills are a PLUS</p>
    <ul>
      <li>Advanced certification in Red Hat Enterprise Linux </li>
      <li>Advanced certification in Windows </li>
      <li>Cloud Computing/Virtualization</li>
      <li>Ability to read C++/Java code</li>
      <li>Experience with Information Assurance (C&A Process, IAVA Management, etc)</li>
    </ul>
    <p>The COTS Integrator position requires a bachelor’s degree in a specialized area or equivalent experience in related field.</p>
    <p>Department of Defense Secret security clearance is required at time of hire. Applicants selected will be subject to a U.S. Government security investigation and must meet eligibility requirements for access to classified information. Due to the nature of work performed within our facilities, U.S. citizenship is required.</p>
  </div>
  <div class="small-12 columns"><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <hr/>
  </div>
  <div class="small-12 columns"><a href="careers.html#openings" class="button">< Return to Current Openings</a></div>
</div>
