src/partials/postings/networksystems.html

<div class="row navbarfix">
  <div class="small-12 columns">
    <h1 class="text-center">Job Opening</h1>
    <hr/>
    <h3>Network System Engineering Position</h3>
    <h4>LOCATION: FAIRLAKES, VA</h4><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <p>The position provides an opportunity to develop and advance the cutting-edge technology that supports our nation’s fundamental defense services.  Employees work closely with the government to develop solutions that allow them to carry out submarine missions.  The selected candidate will work with collaborative teams to deliver end-to-end solutions in mission systems.</p>
    <p>The Systems Engineer shall provide services as directed by GDAIS in support of system engineering activities associated with technical tasking. The Systems Engineer shall support the AN/BYG-1 variants’ initial introduction and post-delivery activities.   The Mid-level Systems/Network Engineer provides technical analysis in data network planning, engineering and design, and implements techniques and tools to improve the network.  Engineers coordinate with all stakeholders to provide requirements and test procedures for network systems. An understanding of hardware and software interconnection and interfacing, such as switches, routers, firewalls, etc is required. This individual is also responsible for network evaluations, network critical item tests, etc.  integration, development, and operations support to fleets and the organization. </p>
    <h5>Additional Responsibilities</h5>
    <ul>
      <li>An understanding of routers, switches and firewalls</li>
      <li>Experience with vendor network hardware solutions (i.e. Cisco, HP, Foundry)</li>
      <li>An understanding of OSPF, Static Routes, VLANs, L3 VLAN interfaces, ACLs, Multicast, PIM Dense and PIM Sparse, QoS fundamentals and application</li>
      <li>Familiarity with DOORS requirement management system</li>
      <li>Familiarity with Linux networking</li>
      <li>Familiarity with Network Security (RADIUS, TACACS+)</li>
    </ul>
    <h5>Desired Skill Sets</h5>
    <ul>
      <li>Familiarity with Imaging, Sonar and other submarine SubSystems</li>
      <li>Experience configuring DNS and NTP</li>
    </ul>
    <p>The Network Systems Engineering position requires a bachelor's degree in electrical engineering, computer science, systems engineering or the equivalent and at least five to eight years of related work experience.</p>
    <P>Department of Defense Secret security clearance is required at time of hire. Applicants selected will be subject to a U.S. Government security investigation and must meet eligibility requirements for access to classified information. Due to the nature of work performed within our facilities, U.S. citizenship is required.</P>
  </div>
  <div class="small-12 columns"><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <hr/>
  </div>
  <div class="small-12 columns"><a href="careers.html#openings" class="button">< Return to Current Openings</a></div>
</div>

src/jadefiles/postings/networksystems.jade
.row.navbarfix
  .small-12.columns
    h1.text-center Job Opening
    
    hr
    
    h3 Network System Engineering Position
    
    h4 LOCATION: FAIRLAKES, VA
    
    //- a.button(href="apply.html") Apply
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    p The position provides an opportunity to develop and advance the cutting-edge technology that supports our nation’s fundamental defense services.  Employees work closely with the government to develop solutions that allow them to carry out submarine missions.  The selected candidate will work with collaborative teams to deliver end-to-end solutions in mission systems.
    p The Systems Engineer shall provide services as directed by GDAIS in support of system engineering activities associated with technical tasking. The Systems Engineer shall support the AN/BYG-1 variants’ initial introduction and post-delivery activities.   The Mid-level Systems/Network Engineer provides technical analysis in data network planning, engineering and design, and implements techniques and tools to improve the network.  Engineers coordinate with all stakeholders to provide requirements and test procedures for network systems. An understanding of hardware and software interconnection and interfacing, such as switches, routers, firewalls, etc is required. This individual is also responsible for network evaluations, network critical item tests, etc.  integration, development, and operations support to fleets and the organization. 
    
    h5 Additional Responsibilities
    ul
      li An understanding of routers, switches and firewalls
      li Experience with vendor network hardware solutions (i.e. Cisco, HP, Foundry)
      li An understanding of OSPF, Static Routes, VLANs, L3 VLAN interfaces, ACLs, Multicast, PIM Dense and PIM Sparse, QoS fundamentals and application
      li Familiarity with DOORS requirement management system
      li Familiarity with Linux networking
      li Familiarity with Network Security (RADIUS, TACACS+)
    
    h5 Desired Skill Sets
    ul
      li Familiarity with Imaging, Sonar and other submarine SubSystems
      li Experience configuring DNS and NTP
    
    p The Network Systems Engineering position requires a bachelor's degree in electrical engineering, computer science, systems engineering or the equivalent and at least five to eight years of related work experience.
    
    P Department of Defense Secret security clearance is required at time of hire. Applicants selected will be subject to a U.S. Government security investigation and must meet eligibility requirements for access to classified information. Due to the nature of work performed within our facilities, U.S. citizenship is required.

  .small-12.columns
    //- a.button.float-right(href="apply.html") Apply
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    hr
    
  .small-12.columns
    a.button(href='careers.html#openings') < Return to Current Openings
