src/partials/postings/sysengr1-3.html

<div class="row navbarfix">
  <div class="small-12 columns">
    <h1 class="text-center">Job Opening</h1>
    <hr/>
    <h3>Systems Engineer I-III</h3>
    <h4>LOCATION: NEWPORT, RI</h4><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <p>n Develops, coordinates and conducts performance and system studies, and analyses of engineering design concepts. Develops and enhances system models, algorithms, and test strategies for products. Compiles and assesses reports and process control statistics; investigates and analyzes relevant variables potentially affecting product and processes. Evaluates customer's initial design specifications and recommends basic product specifications and techniques to satisfy requirements.</p>
    <p>Candidate will assist senior engineers with the creation and/or revision of test documentation and revision of interface control documents as required. He/she will perform research necessary to resolve and document system integration issues as well as participate in failure review boards and assist with the resolution of identified documentation discrepancies. Candidate will also work with senior engineers on integration issues involving the development of future system capability. </p>
    <h5>Basic Qualifications</h5>
    <ul>
      <li>Bachelor’s level degree in any engineering discipline.</li>
      <li>3 to 7 years professional experience in engineering. </li>
    </ul>
    <h5>Qualifications</h5>
    <p>Excellent communication skills, both oral and written. Ability to understand and interpret system level specifications and interface message protocols. The ability to perform research necessary resolve system level problems. The ability to generate engineering documentation. </p>
    <h5>Desired skills</h5>
    <p>Knowledge in any of the following areas; software engineering, electrical engineering, fire control systems, interface data analysis, test and evaluation concepts. Ability to work closely in a team environment and with the customer. </p>
    <h5>Preferred skills </h5>
    <P>AN/BYG-1 COMBAT Systems or TOMAHAWK Operations experience. </P>
    <h5>clearance</h5>
    <p>Secret Or; Applicants selected will be subject to a government security investigation and must meet eligibility requirements for access to classified information. </p>
  </div>
  <div class="small-12 columns"><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <hr/>
  </div>
  <div class="small-12 columns"><a href="careers.html#openings" class="button">< Return to Current Openings</a></div>
</div>

src/jadefiles/postings/sysengr1-3.jade
.row.navbarfix
  .small-12.columns
    h1.text-center Job Opening
    
    hr
    
    h3 Systems Engineer I-III
    
    h4 LOCATION: NEWPORT, RI
    
    //- a.button(href="apply.html") Apply
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    p n Develops, coordinates and conducts performance and system studies, and analyses of engineering design concepts. Develops and enhances system models, algorithms, and test strategies for products. Compiles and assesses reports and process control statistics; investigates and analyzes relevant variables potentially affecting product and processes. Evaluates customer's initial design specifications and recommends basic product specifications and techniques to satisfy requirements.
    p Candidate will assist senior engineers with the creation and/or revision of test documentation and revision of interface control documents as required. He/she will perform research necessary to resolve and document system integration issues as well as participate in failure review boards and assist with the resolution of identified documentation discrepancies. Candidate will also work with senior engineers on integration issues involving the development of future system capability. 
    
    h5 Basic Qualifications
    ul
      li Bachelor’s level degree in any engineering discipline.
      li 3 to 7 years professional experience in engineering. 
    
    h5 Qualifications
    p Excellent communication skills, both oral and written. Ability to understand and interpret system level specifications and interface message protocols. The ability to perform research necessary resolve system level problems. The ability to generate engineering documentation. 
    
    h5 Desired skills
    p Knowledge in any of the following areas; software engineering, electrical engineering, fire control systems, interface data analysis, test and evaluation concepts. Ability to work closely in a team environment and with the customer. 
    
    h5 Preferred skills 
    P AN/BYG-1 COMBAT Systems or TOMAHAWK Operations experience. 

    h5 clearance
    p Secret Or; Applicants selected will be subject to a government security investigation and must meet eligibility requirements for access to classified information. 
    
  .small-12.columns
    //- a.button.float-right(href="apply.html") Apply
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    hr
    
  .small-12.columns
    a.button(href='careers.html#openings') < Return to Current Openings
