src/jadefiles/postings/testposition.jade
.row.navbarfix
  .small-12.columns
    h1.text-center Job Opening
    
    hr
    
    h3 Test Position
    
    h4 LOCATION: FAIRLAKES, VA
    
    //- a.button(href="apply.html") Apply
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    p The position provides an opportunity to develop and advance the cutting-edge technology that supports our nation’s fundamental defense services.  Employees work closely with the government to develop solutions that allow them to carry out submarine missions.  The selected candidate will work with collaborative teams to deliver end-to-end solutions in mission systems integration, development, and operations support to fleets and the organization. This Test person shall provide services as directed by GDAIS. The Test person shall support the AN/BYG-1 variants’ initial introduction and post-delivery activities.  These activities include analysis, development of test procedures, On-Site Testing, special studies and support of engineering meetings.  Requirements and test procedures will be managed in the DOORS requirements management tool.  Interaction with external subsystems points of contact and knowledge of the SWFTS NBCR process is required. 
 
    h5 Test Roles and Responsibilities
    ul
      li Work with development and integration teams to promulgate and create test plans/strategies for products
      li Perform manual testing as needed to augment automated testing
      li Analyze test coverage and generate risk reports as necessary
      li Investigate test failures and determine root-causes
      li Write clear and concise bug reports, verify bug fixes (validation/verification)
      li Mentor junior test engineers
      li Gather feedback for and implement continuous test improvement
      li Maintain and develop testing policies and processes for test automation 
      li Define test strategies including functional, non-functional, regression, automation, security, and performance testing
      li Work with development teams to improve overall processes and push quality upstream
      li Determine and report metrics for testing and relay results to stakeholders
      li Work with external vendors as required
      li Design additional test tools to optimize test coverage
      li Attend all meetings as applicable and provide necessary feedback when prompted
      li Support all tasking assigned by the Test Lead
    
    h5 Desired Skill Sets
    ul
      li Experience with Microsoft office products
      li Good organizational and communication skills
      li Experience with US Navy submarine combat control system end user operation required.
      li Candidates must demonstrate passion for innovation, a sophisticated understanding of various engineering systems and the ability to further advance General Dynamics Mission Systems technology.

    p The position requires at least 3 years of recent US Navy submarine combat control end user experience (Fire Control Technician).
    
    P Department of Defense Secret security clearance is required at time of hire. Applicants selected will be subject to a U.S. Government security investigation and must meet eligibility requirements for access to classified information. Due to the nature of work performed within our facilities, U.S. citizenship is required.

  .small-12.columns
    //- a.button.float-right(href="apply.html") Apply
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    hr
    
  .small-12.columns
    a.button(href='careers.html#openings') < Return to Current Openings

src/partials/postings/testposition.html

<div class="row navbarfix">
  <div class="small-12 columns">
    <h1 class="text-center">Job Opening</h1>
    <hr/>
    <h3>Test Position</h3>
    <h4>LOCATION: FAIRLAKES, VA</h4><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <p>The position provides an opportunity to develop and advance the cutting-edge technology that supports our nation’s fundamental defense services.  Employees work closely with the government to develop solutions that allow them to carry out submarine missions.  The selected candidate will work with collaborative teams to deliver end-to-end solutions in mission systems integration, development, and operations support to fleets and the organization. This Test person shall provide services as directed by GDAIS. The Test person shall support the AN/BYG-1 variants’ initial introduction and post-delivery activities.  These activities include analysis, development of test procedures, On-Site Testing, special studies and support of engineering meetings.  Requirements and test procedures will be managed in the DOORS requirements management tool.  Interaction with external subsystems points of contact and knowledge of the SWFTS NBCR process is required. </p>
    <h5>Test Roles and Responsibilities</h5>
    <ul>
      <li>Work with development and integration teams to promulgate and create test plans/strategies for products</li>
      <li>Perform manual testing as needed to augment automated testing</li>
      <li>Analyze test coverage and generate risk reports as necessary</li>
      <li>Investigate test failures and determine root-causes</li>
      <li>Write clear and concise bug reports, verify bug fixes (validation/verification)</li>
      <li>Mentor junior test engineers</li>
      <li>Gather feedback for and implement continuous test improvement</li>
      <li>Maintain and develop testing policies and processes for test automation </li>
      <li>Define test strategies including functional, non-functional, regression, automation, security, and performance testing</li>
      <li>Work with development teams to improve overall processes and push quality upstream</li>
      <li>Determine and report metrics for testing and relay results to stakeholders</li>
      <li>Work with external vendors as required</li>
      <li>Design additional test tools to optimize test coverage</li>
      <li>Attend all meetings as applicable and provide necessary feedback when prompted</li>
      <li>Support all tasking assigned by the Test Lead</li>
    </ul>
    <h5>Desired Skill Sets</h5>
    <ul>
      <li>Experience with Microsoft office products</li>
      <li>Good organizational and communication skills</li>
      <li>Experience with US Navy submarine combat control system end user operation required.</li>
      <li>Candidates must demonstrate passion for innovation, a sophisticated understanding of various engineering systems and the ability to further advance General Dynamics Mission Systems technology.</li>
    </ul>
    <p>The position requires at least 3 years of recent US Navy submarine combat control end user experience (Fire Control Technician).</p>
    <P>Department of Defense Secret security clearance is required at time of hire. Applicants selected will be subject to a U.S. Government security investigation and must meet eligibility requirements for access to classified information. Due to the nature of work performed within our facilities, U.S. citizenship is required.</P>
  </div>
  <div class="small-12 columns"><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <hr/>
  </div>
  <div class="small-12 columns"><a href="careers.html#openings" class="button">< Return to Current Openings</a></div>
</div>
