src/partials/careers/culture.html

<section class="culture">
  <div class="row">
    <div class="small-12 medium-6 medium-centered columns">
      <h3 class="text-center">{{jobs.culture-title}}</h3>
      <p class="text-center">{{jobs.culture-subtext}}</p>
    </div>
  </div>
</section>

src/jadefiles/careers/culture.jade
section.culture
  .row
    .small-12.medium-6.medium-centered.columns
      h3.text-center {{jobs.culture-title}}
      p.text-center {{jobs.culture-subtext}}
      
      
  //- #owl-demo.owl-carousel.owl-theme
  //-   .item.helper
  //-     img(src='http://placehold.it/1200x500', alt='')
  //-   .item.helper
  //-     img(src='http://placehold.it/1200x500', alt='')
  //-   .item.helper
  //-     img(src='http://placehold.it/1200x500', alt='')
  //-   .item.helper
  //-     img(src='http://placehold.it/1200x500', alt='')
