src/jadefiles/careers/openings.jade
section#openings.openings
  .small-12.large-10.large-centered.columns
    ul#openings-tabs.tabs(data-tabs='')
      li.tabs-title.is-active
        a(href='#panel1', aria-selected='true') Current Openings
      li.tabs-title
        a(href='#panel2') Future Openings
    .tabs-content(data-tabs-content='openings-tabs')
      #panel1.tabs-panel.is-active
        table
          thead
            tr
              th.openings Current Openings
              th.location Location
          tbody
            {{#each openings.postings}}
            tr        
              td 
                a(href="{{link}}") {{position}}
              td {{location}}
            {{/each}}
      #panel2.tabs-panel
        table
          thead
            tr
              th.openings Future Openings
              th.location Location
          tbody
            {{#each openings.futurepostings}}
            tr        
              td 
                a(href="{{link}}") {{position}}
              td {{location}}
            {{/each}}
        
  //- #openings.row
  //-   table
  //-     thead
  //-       tr
  //-         th.openings Current Openings
  //-         th.location Location
  //-     tbody
  //-       {{#each openings.postings}}
  //-       tr        
  //-         td 
  //-           a(href="{{link}}") {{position}}
  //-         td {{location}}
  //-       {{/each}}
  //-     thead
  //-       tr
  //-         th.openings Potential Future Openings
  //-         th.location Location
  //-     tbody
  //-       {{#each openings.futurepostings}}
  //-       tr        
  //-         td 
  //-           a(href="{{link}}") {{position}}
  //-         td {{location}}
  //-       {{/each}}
        

src/partials/careers/openings.html

<section id="openings" class="openings">
  <div class="small-12 large-10 large-centered columns">
    <ul id="openings-tabs" data-tabs="" class="tabs">
      <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Current Openings</a></li>
      <li class="tabs-title"><a href="#panel2">Future Openings</a></li>
    </ul>
    <div data-tabs-content="openings-tabs" class="tabs-content">
      <div id="panel1" class="tabs-panel is-active">
        <table>
          <thead>
            <tr>
              <th class="openings">Current Openings</th>
              <th class="location">Location</th>
            </tr>
          </thead>
          <tbody>{{#each openings.postings}}
            <tr>       
              <td> <a href="{{link}}">{{position}}</a></td>
              <td>{{location}}</td>
            </tr>{{/each}}
          </tbody>
        </table>
      </div>
      <div id="panel2" class="tabs-panel">
        <table>
          <thead>
            <tr>
              <th class="openings">Future Openings</th>
              <th class="location">Location</th>
            </tr>
          </thead>
          <tbody>{{#each openings.futurepostings}}
            <tr>       
              <td> <a href="{{link}}">{{position}}</a></td>
              <td>{{location}}</td>
            </tr>{{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
