src/jadefiles/careers/overview.jade
section.overview
  .row.navbarfix
    .medium-6.columns.helper
      .overview-side-bg
    .small-12.medium-6.columns
      .small-12.columns
        h3.text-center {{jobs.overview-title}}
        p.text-center {{jobs.overview-text}} 
      .small-12.columns
        h3.text-center {{jobs.overview-secondary-title}} 
        p.text-center {{jobs.overview-secondary-text}}
        p.text-center
          a.button(href='{{root}}careers.html#openings') See our current job opportunities

src/partials/careers/overview.html

<section class="overview">
  <div class="row navbarfix">
    <div class="medium-6 columns helper">
      <div class="overview-side-bg"></div>
    </div>
    <div class="small-12 medium-6 columns">
      <div class="small-12 columns">
        <h3 class="text-center">{{jobs.overview-title}}</h3>
        <p class="text-center">{{jobs.overview-text}} </p>
      </div>
      <div class="small-12 columns">
        <h3 class="text-center">{{jobs.overview-secondary-title}} </h3>
        <p class="text-center">{{jobs.overview-secondary-text}}</p>
        <p class="text-center"><a href="{{root}}careers.html#openings" class="button">See our current job opportunities</a></p>
      </div>
    </div>
  </div>
</section>
