src/jadefiles/home/featured.jade
section.featured
  .row
    .orbit(role='region', aria-label='Featured Projects', data-orbit='' data-options="animation:slide; pause_on_hover:true; navigation_arrows:true; swipe:false bullets:false;")
      ul.orbit-container
        button.orbit-previous(aria-label='previous')
          span.show-for-sr Previous Slide
          | ◀
        button.orbit-next(aria-label='next')
          span.show-for-sr Next Slide
          | ▶
        {{#each home.featured}}
        li.orbit-slide
          div.clearfix
            .small-12.large-10.large-centered.columns
              .featured-image.float-left 
                img(src='{{root}}{{img-url}}' style='height:340px;width:auto;' alt='Scrolling Featured Images')
              .featured-text
                h3 {{slide-title}}
                p {{slide-subtext}}
                a.button(href='{{root}}/{{read-more-link}}') Read More
        {{/each}}

src/partials/home/featured.html

<section class="featured">
  <div class="row">
    <div role="region" aria-label="Featured Projects" data-orbit="" data-options="animation:slide; pause_on_hover:true; navigation_arrows:true; swipe:false bullets:false;" class="orbit">
      <ul class="orbit-container">
        <button aria-label="previous" class="orbit-previous"><span class="show-for-sr">Previous Slide</span>◀</button>
        <button aria-label="next" class="orbit-next"><span class="show-for-sr">Next Slide</span>▶</button>{{#each home.featured}}
        <li class="orbit-slide">
          <div class="clearfix">
            <div class="small-12 large-10 large-centered columns">
              <div class="featured-image float-left"> <img src="{{root}}{{img-url}}" style="height:340px;width:auto;" alt="Scrolling Featured Images"/></div>
              <div class="featured-text">
                <h3>{{slide-title}}</h3>
                <p>{{slide-subtext}}</p><a href="{{root}}/{{read-more-link}}" class="button">Read More</a>
              </div>
            </div>
          </div>
        </li>{{/each}}
      </ul>
    </div>
  </div>
</section>
