src/partials/home/hero.html

<section class="hero">
  <div class="row">
    <div class="small-12 large-11 large-centered columns hero-text">
      <h1 class="text-center">{{home.title-text}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-11 large-centered columns hero-text">
      <p class="text-center">{{home.subtitle-text}}</p>
    </div>
  </div>
</section>

src/jadefiles/home/hero.jade
section.hero
  .row
    .small-12.large-11.large-centered.columns.hero-text
      h1.text-center {{home.title-text}}
  .row
    .small-12.large-11.large-centered.columns.hero-text
      p.text-center {{home.subtitle-text}}
