src/partials/home/intro.html

<section class="intro">
  <div class="parallax-scroll row">
    <div class="small-12 medium-up-3 columns">
      <div class="column move-up text-center"><a href="services.html" class="thumbnail intro-tile1">
          <div class="intro-tile-text">
            <h3 class="text-center">{{home.tile1-title}}</h3>
            <p class="text-center">{{home.tile1-subtext}}</p>
          </div></a></div>
      <div class="column move-up"><a href="technology.html" class="thumbnail intro-tile2">
          <div class="intro-tile-text">
            <h3 class="text-center">{{home.tile2-title}}</h3>
            <p class="text-center">{{home.tile2-subtext}}</p>
          </div></a></div>
      <div class="column move-up"><a href="careers.html" class="thumbnail intro-tile3">
          <div class="intro-tile-text">
            <h3 class="text-center">{{home.tile3-title}}</h3>
            <p class="text-center">{{home.tile3-subtext}}</p>
          </div></a></div>
    </div>
  </div>
  <div class="row blurb">
    <div class="small-12 large-8 large-centered columns text-center">
      <h2>{{home.blurb-title}}</h2>
      <p>{{{home.blurb-subtext}}}</p>
    </div>
  </div>
</section>

src/jadefiles/home/intro.jade
section.intro
  .parallax-scroll.row
    .small-12.medium-up-3.columns
      .column.move-up.text-center
        a(href='services.html').thumbnail.intro-tile1
          .intro-tile-text
            h3.text-center {{home.tile1-title}}
            p.text-center {{home.tile1-subtext}}
            //- a.button(href='services.html') Learn More
      .column.move-up
        a(href='technology.html').thumbnail.intro-tile2
          .intro-tile-text
            h3.text-center {{home.tile2-title}}
            p.text-center {{home.tile2-subtext}}
            //- a.button(href='technology.html') Learn More      
      .column.move-up
        a(href='careers.html').thumbnail.intro-tile3
          .intro-tile-text
            h3.text-center {{home.tile3-title}}
            p.text-center {{home.tile3-subtext}}
            //- a.button(href='careers.html') Learn More
  .row.blurb
    .small-12.large-8.large-centered.columns.text-center
      h2 {{home.blurb-title}}
      p {{{home.blurb-subtext}}}
